# Node modules
node_modules

# Compiled TypeScript
code-guardian/dist

# Frontend
code-guardian/frontend/node_modules
code-guardian/frontend/dist
code-guardian/frontend/src/**/*.js
*.tsbuildinfo

# Logs and databases
*.log
*.db

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# Idea stuff
.idea/**

# Zap output
report*.html

# e2e
test/e2e/screenshots/
test/e2e/videos/

# ignore sensitive files
.env.local
.env

# ignore Snyk Code scanner files
.dccache
